Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?:config|database)(?:/|$) - [F,L,NC]
    RewriteRule ^(?:composer\.(?:json|lock)|README\.md)$ - [F,L,NC]
    RewriteRule (^|/)\.(?!well-known(?:/|$)) - [F,L]
</IfModule>